<!DOCTYPE html>
<html>
<head>
	<title>Users New</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'users/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<h3>Edit User {{user.id}}</h3>
	<form action='/users/{{user.id}}/update' method='POST'>
		{% csrf_token %}
		First Name: <br><br>
		<input type="text" name="fname" value='{{user.first_name}}'><br><br>
		Last Name: <br><br>
		<input type="text" name="lname" value='{{user.last_name}}'><br><br>
		Email: <br><br>
		<input type="text" name="email" value='{{user.email}}'><br><br>
		<br><br>
		<input type="submit" name="submit" value="Update">
	</form>
	<br><br>
	 {% if messages %}
	     <ul>
	       {% for message in messages %}
	       <li>{{message}}</li>
	       {% endfor %}
	     </ul>
     {% endif %}
	<a href="/users/{{user.id}}">Show</a> | <a href="/users">Go Back</a>
</body>
</html>